# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\uyngu\Desktop\OsloMet\data2410-Datanettverk-og-skytjenester\Portfolio\bad-bots\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
